<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="minValue" value="300" />
		<add key="maxValue" value="500" />
		<add key="minProfit" value="50" />

		<add key="ProfitBasedOn" value="2" /> <!-- 1 Cheapest Seller; 2 Direct Buy; 3 Price History -->
		<add key="PriceHistoryAmount" value="3" /> <!--  -->


		<add key="orderBy" value="most_volume" /> <!-- Order: most_volume, most_offers, popularity -->
		
		<add key="steamguard" value="" />
		<add key="steamusername" value="" />
		<add key="steampassword" value="" />

		<add key="LastRunPage" value="1" />
	</appSettings>
</configuration>