<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="minValue" value="100" />
		<add key="maxValue" value="500" />
		<add key="minProfit" value="50" />

		<add key="ProfitBasedOn" value="3" /> <!-- 1 Cheapest Seller; 2 Direct Buy; 3 Price History -->
		<add key="PriceHistoryAmount" value="3" /> <!-- Low Numbers -->


		<add key="orderBy" value="most_volume" /> <!-- Order: most_volume, most_offers, popularity -->
		
		<add key="steamguard" value="" />
		<add key="username" value="" />
		<add key="password" value="" />

	</appSettings>
</configuration>